.cards {
    background-color:#f4f4ff ; 
    color: rgb(84, 84, 84);   
}

.cardo {
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    margin-top: -40px;
    margin-bottom: 60px;
    background-color: white;
}

 .cardo i {
    font-size: 80px;
    color: turquoise;
    
}