.imago img {
    width: 300px;
    height: 250px;
}
.imago {
    padding-top: 30px;
    padding-bottom: 30px;	
    background: -webkit-linear-gradient(left, #cbcbf8, #8080b6);
}

.img {
    position: relative;
    text-align: center;
}

.next {
 position: absolute;
 bottom: 20px;
 left: 70%;
 font-size: 30px;
 color: white; 
 cursor: pointer;
}

.previous {
   position: absolute;
   bottom: 20px;
   right: 70%;
   font-size: 30px; 
   color: white; 
   cursor: pointer;
}
