.slider {
   white-space: nowrap;
   overflow: hidden;
   background-color:#f4f4ff ;
   padding-bottom: 30px;
}

.slide div {
    display: inline-block;
    margin: 15px;
}

.slider img {
    width: 300px;
    height: 250px;
}

.slide {
    position: relative;
}