.aboutMain {
    background: -webkit-linear-gradient(left, #cbcbf8, #8080b6);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: rgb(255, 255, 255);
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
}