.team {
    text-align: center;
    background: -webkit-linear-gradient(left, #cbcbf8, #8080b6);
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

.team img {
    width: 300px;
    height: 250px;
    
}