footer {
    background-color:#1b1a1a;
    text-align: center;
    padding: 60px;
    color: rgb(255, 255, 255);
}

footer Link, footer a {
    display: block;
    margin-top: 10px;
}

footer button {
    background-color: transparent;
    border: none;
    border: 1px solid white;
    color: white;
    margin-left: 5px;
}

footer input {
    width: 100%;
}
footer form {
    display: flex;
}

hr {
    background-color: white;
}

.social i {
    padding-left: 20px;
}

@media (max-width: 767px) {
    footer form {
        flex-direction: column;
    }
    footer button {
        margin-left: 0;
    }
}